<%- include('partials/header') -%>

<h1>HOME</h1>
<p><%= homeText %></p>

<% composeArray.forEach(function(currentPost) { %>
    <h1><%= currentPost.title; %></h1>
    <p><%= currentPost.post; %></p>
<% }) %> 

<%- include('partials/footer') -%>